.radioButtonNotCompleted {
    border-radius: 50%;
    border: 3px solid #959595;
    width: 20px;
    height: 20px;
}

.radioButtonCompleted {
    border-radius: 50%;
    border: 3px solid #34A853;
    width: 20px;
    height: 20px;
}

.radioButtonNotCompleted:hover {
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 0px 5px #9fffb8;
}

.radioButtonCompleted:hover {
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 0px 5px #ff9393;
}